*{
  margin: 0 ;
  padding: 0 ;
}
html{
  color: black;
}

table{
  border-collapse: collapse;
  width:90%;
  margin:0 auto;
}
tr{
  width:100%;
  height: auto;
  background-color:white;
  border-top: 1px solid #868686;

}


td:first-child{
  width: 150px;
}
a{
  text-decoration: none;
  color: black;
}
td a:visited{
  color: rgb(185, 185, 185);
}
h1{
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 24px;
}
td {
  display: block;
}

td a{
  display: block;
  padding-bottom:20px;
  margin-left:20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

span{
  margin-left:10px;
}
.back-txt{
  margin: 30px;
}
tr td {

}
.text a{
  color: blue;
}
.next,.re{
  display: block;
  margin: 0 auto ;
  width: 100px;

  color: white;
  text-align: center;
  background-color:rgb(172, 172, 172);
}
.li{
  display: none;
}

.back{
  position: fixed;
  bottom: 0;
  display: block;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  background-color: rgb(172,172,172);
}
